@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 202;
    ViewBag.carpeta_r = 200;
}

<style>
    /*Index*/
    #modalSolicitud {
        width: 40%;
        border-radius: 10px;
        border: 3px solid red;
    }

        #modalSolicitud .modal-header {
            padding-left: 20px;
            padding-top: 15px;
        }

    .modal_image {
        width: 180px;
    }
</style>

<!-- Modal Trigger -->
<button data-target="modalSolicitud" style="display:none;" id="btn_modal" class="btn modal-trigger">Modal</button>

<!-- Modal Structure -->
<div id="modalSolicitud" class="modal modalSol">
    <div class="modal-header">
        <img class="modal_image" src="~/images/logo-kellogg2.png">
    </div>
    @using (Html.BeginForm("Sol_Tipo", "Solicitudes"))
    {
        <div class="modal-content">
            <h4>Seleccione el tipo de solicitud</h4>
            <p>
                <label>
                    <input class="with-gap" name="radio_tiposol" type="radio" value="f" checked />
                    <span>Fija</span>
                </label>
            </p>
            <p>
                <label>
                    <input class="with-gap" name="radio_tiposol" type="radio" value="v" />
                    <span>Variable</span>
                </label>
            </p>
        </div>
        <div class="modal-footer">
            <a href="@Url.Action("Cancelar", "Solicitudes")" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>            
            <button href="#!" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat " >Continuar</button>
        </div>

        <script type="text/javascript" >
            $(document).ready(function () {
                //Click automático al batón para mostrar el modal
                $('#btn_modal').click();

            });

            $('#btn_modal').click(function () {

                $('#modalSolicitud').modal({
                    dismissible: false
                });

            });
        </script>
    }
</div>


