@model IEnumerable<TAT001.Entities.DOCUMENTO>
@using TAT001.Entities;
@using TAT001.Controllers;

@{
    ViewBag.pagina_r = 221;
    ViewBag.carpeta_r = 200;
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<link href="~/Content/dataTable.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.10.16/css/dataTables.material.min.css" rel="stylesheet" />
<input class="form-control" id="txt_spras" value="@(ViewBag.usuario.SPRAS_ID)" hidden>

@*@if (TempData["docs_masiva"] != null)
    {
        List<string> list_num_doc = (List<string>)TempData["docs_masiva"];
        foreach (var num_doc in list_num_doc)
        {

            <script>
                $(document).ready(function () {
                    function docMessage(msg) {
                        M.toast({ html: msg });
                    }

                    var messages = '@num_doc';

                    if (messages != "") {
                        if (messages.substring(0, 4) == "&lt;") {
                            docMessage('Error en registro ' + messages.replace("&lt;", ""));
                        }
                        else {
                            docMessage('Documento ' + messages + ' fue creado');
                        }
                    }
                });
            </script>
        }
        TempData["docs_masiva"] = null;
    }*@

<div id="borraTabla" class="modal">
    <div class="modal-content">
        <h4>Borrar</h4>
        <p>¿Estás seguro que quieres borrar la carga actual?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn-flat">NO</a>
        <a href="" class="modal-action modal-close btn-flat">si</a>
    </div>
</div>
<div id="salirPag" class="modal">
    <div class="modal-content">
        <h4>Borrar</h4>
        <p>¿Estás seguro que quieres borrar la carga actual?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn-flat">NO</a>
        <a href="" class="modal-action modal-close btn-flat">si</a>
    </div>
</div>

<div class="row">
    <div class="row left">
        <a class="" href="@Url.Action("Archivo", "Masiva", new { varArch = "X"})">
            <i class='material-icons green-text'>archive</i>FORMATO MASIVA
        </a>
        <a class="" href="@Url.Action("Archivo", "Masiva", new { varArch = "L"})">
            <i class='material-icons green-text'>archive</i>LISTADO CLIENTE/PROVEEDOR
        </a>
    </div>
    <div class="row right">
        @*<a class="waves-effect waves-light btn" href="borraTabla" onClick="window.location.reload()">Borrar</a>*@
        <a class="btn modal-trigger" href="#borraTabla">Borrar</a>
        <a class="btn" onclick="guardaDatos()">Enviar</a>
    </div>
</div>

<div class="row">
    <div class="row" style="height:10px;width:100%;">
        <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
        <div class="col l3 pink darken-4" style="height:10px;padding:0;">
            <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
            <div class="col l8 orange" style="height:10px;padding:0;"></div>
            <div class="col l1 red" style="height:10px;padding:0;"></div>
        </div>
        <div class="col l2 yellow" style="height:10px;padding:0;"></div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <ul class="tabs" id="tabs">
            <li class="tab col s2 tabs_menu"><a id="tab_info" href="#test1">INFORMACION</a></li>
            <li class="tab col s3 tabs_menu"><a id="tab_rel" href="#test2">RELACIONADA</a></li>
            <li class="tab col s3 tabs_menu"><a id="tab_mul" href="#test3">MULTIPLE</a></li>
            <li class="tab col s2 tabs_menu"><a id="tab_dis" href="#test4">DISTRIBUCION</a></li>
            <li class="tab col s2 tabs_menu"><a id="tab_arc" href="#test5">SOPORTE</a></li>
        </ul>
    </div>
</div>

<div class="row" style="margin-bottom:0px;">
    <div class="col s12 m6 l3">
        @using (Html.BeginForm("Index", "Masiva", new { enctype = "multipart/form-data" }))
        {
            <div class="file-field input-field col s12">
                <div class="waves-effect waves-light btn col s12">
                    <span>Seleccionar archivo</span>
                    <input type="file" name="miMas" id="miMas" />
                </div><div class="file-path-wrapper hide">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        }
    </div>
    <div class="col s12 m6 l3" style="padding-top:14px;">
        <a class="waves-effect waves-light btn col s12" id="excelBtn" onclick="tablesToExcel(['tab_test1clond','tab_test2clon','tab_test3clon','tab_test4clon'], ['Hoja1','Hoja2','Hoja3','Hoja4'], 'TestBook.xls', 'Excel')" disabled>Exportar vista a Excel</a>
    </div>
    <div class="col s12 m6 l3 offset-l3">
        <div class="input-field col s12">
            <input type="text" class="global_filter" id="global_filter">
            <label for="global_filter" id="lbl_search">Buscar</label>
        </div>
    </div>
</div>

<div class="row">
    <div id="test1" class="card-panel col s12">
        <div style="overflow:auto;">
            <table id="tab_test1" class="display" cellspacing="0" width="100%" style="display:none">
                <thead>
                    <tr>
                        <th>ESTATUS</th>
                        <th>NUM_DOC</th>
                        <th>T_SOL</th>
                        <th>GALL_ID</th>
                        <th>Co. Code</th>
                        <th>LANDX</th>
                        <th>ESTADO</th>
                        <th>CIUDAD</th>
                        <th>CONCEPTO</th>
                        <th>NOTAS</th>
                        <th>PAYER_ID</th>
                        <th>PAYER_NOMBRE</th>
                        <th>CONTACTO_NOMBRE</th>
                        <th>CONTACTO_EMAIL</th>
                        <th>FECHAI_VIG</th>
                        <th>FECHAF_VIG</th>
                        <th>MONEDA_ID</th>
                        <th hidden>LABEL</th>
                        <th hidden>LABEL</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <br />
    </div>

    <div id="test2" class="card-panel col s12">
        <div style="overflow:auto;">
            <table id="tab_test2" class="display" cellspacing="0" width="100%" style="display:none">
                <thead>
                    <tr>
                        <th>ESTATUS</th>
                        <th>NUM_DOC</th>
                        <th>FACTURA</th>
                        <th>FECHA</th>
                        <th>PROVEEDOR</th>
                        <th>PROVEEDOR_NOMBRE</th>
                        <th>AUTORIZACION</th>
                        <th>VENCIMIENTO</th>
                        <th>FACTURAK</th>
                        <th>EJERCICIOK</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <br />
    </div>

    <div id="test3" class="card-panel col s12">
        <div style="overflow:auto;">
            <table id="tab_test3" class="display" cellspacing="0" width="100%" style="display:none">
                <thead>
                    <tr>
                        <th>ESTATUS</th>
                        <th>NUM_DOC</th>
                        <th>FACTURA</th>
                        <th>BILL_DOC</th>
                        <th>EJERCICIOK</th>
                        <th>PAYER</th>
                        <th>PAYER_NOMBRE</th>
                        <th>IMPORTE_FAC</th>
                        <th>BELNR</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <br />
    </div>

    <div id="test4" class="card-panel col s12">
        <div style="overflow:auto;">
            <table id="tab_test4" class="display" cellspacing="0" width="100%" style="display:none">
                <thead>
                    <tr>
                        <th>ESTATUS</th>
                        <th>NUM_DOC</th>
                        <th>LIGADA</th>
                        <th>VIGENCIA_DE</th>
                        <th>VIGENCIA_AL</th>
                        <th>MATERIAL</th>
                        <th>CATEGORIA</th>
                        <th>DESCRIPCION</th>
                        <th>MONTO</th>
                        <th>PORC_APOYO</th>
                        <th>APOYO_PIEZA</th>
                        <th>COSTO_APOYO</th>
                        <th>PRECIO_SUG</th>
                        <th>VOLUMEN_REAL</th>
                        <th>APOYO</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <br />
    </div>

    <div id="test5" class="card-panel col s12">
        <div style="overflow:auto;">
            <table id="tab_test5" class="display" cellspacing="0" width="100%" style="display:none">
                <thead>
                    <tr>
                        <th style="text-align:center;">ESTATUS</th>
                        <th style="text-align:center;">NUM_DOC</th>
                        <th style="text-align:center;">TIPO</th>
                        <th style="text-align:center;">ARCHIVO</th>
                        @*<th style="text-align:center;">NOTAS</th>*@
                        @*<th style="text-align:center;">BOTON</th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <br />
    </div>
</div>

<script>
    var el = document.querySelector(".tabs");
    var instance = M.Tabs.init(el, []);

    var elem = document.getElementById('borraTabla');
    M.Modal.init(elem, []);
</script>
<script>
    window.onbeforeunload = confirmExit;
    function confirmExit() {
        return "¿Deseas salir del módulo? La infomración se perderá. ";
    }
    var instance1 = M.Tabs.init(el1, []);

    var elem1 = document.getElementById('borraTabla');
    M.Modal.init(elem1, []);
</script>

<script src="~/Scripts/autocomplete1.10.2.js"></script>
<script src="~/Scripts/autocomplete1.11.4.js"></script>
<script src="~/Scripts/Masiva/formatosMasiva.js"></script>
<script src="~/Scripts/Masiva/create.js"></script><!--LGPP 30.08.2018-->
<script src="~/Scripts/Masiva/validaTabs.js"></script><!--RSG 26.10.2018-->
<link href="~/Content/autocomplete.css" rel="stylesheet" />

<script>
    var auto = $.noConflict();
    var ln = "@Session["spras"].ToString()";
</script>

<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_scrollHeadInner, .mdl-data-table {
        width: 100%;
    }
</style>

<script>
    //$(".mdl-button").on("click", function () {
    //    if ($(this).hasClass("valid")) {
    //        var id = $(this).closest('tr').children().eq(1).children().val();
    //        var tipo = $(this).closest('tr').children().eq(2).children().val();
    //        $(this).closest('tr').children().eq(3).children().children().eq(0).children().eq(1).attr('id', id + tipo);
    //    } else {
    //        $(this).closest('tr').children().eq(3).children().children().eq(0).children().eq(1).removeAttr('id');
    //    }
    function pag() {
        $(".outRequiredfile").on("change", function () {
            if ($(this).hasClass("valid")) {
                var id = $(this).closest('tr').children().eq(1).children().val();
                var tipo = $(this).closest('tr').children().eq(2).children().val();
                $(this).closest('tr').children().eq(3).children().children().eq(0).children().eq(1).attr('id', id + tipo);
            } else {
                $(this).closest('tr').children().eq(3).children().children().eq(0).children().eq(1).removeAttr('id');
            }
        });
    }
    //});
</script>
<button class="btn" onclick="pag();">Page</button>