
@{
    ViewBag.Title = "";
    ViewBag.pagina_r = 101;
    ViewBag.carpeta_r = 100;
    Layout = "~/Views/Shared/_Layout.cshtml";

    TAT001.Models.CartaV v = (TAT001.Models.CartaV)TempData["v"];
    string monto_enviar = TempData["monto_enviar"] != null ? TempData["monto_enviar"].ToString() : null;
}

<div class="row right">
    <a href="@Url.Action("Create", "CartaV", new { id = @ViewBag.miNum })" class="col btn btn-small">Regresar</a>

    @if (v != null)
    {
        TempData["v"] = v;
        TempData["monto_enviar"] = monto_enviar;
        using (Html.BeginForm("Create", "CartaV", new { guardar_param = "guardar_desde_visualizar" }, FormMethod.Post, new { @class = "col", @style = "padding-left:4px" }))
        {
            <input type="submit" id="btn_submit" value="Guardar" class="col btn btn-small" />
        }
    }
</div>
<div>
    <iframe src="@ViewBag.url" width="100%" height="600px"></iframe>
</div>
