@model TAT001.Models.DocumentoFlujo
@using TAT001.Entities
@{
    /**/

    //ViewBag.Title = "Páginas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 999;
    ViewBag.carpeta_r = 200;
}

@using (Html.BeginForm("Ejecutar", "Recurrencias", FormMethod.Post, null))
{
    <div class="row">
        <div class="col s6">
            <div class="card-panel">
                <div class="row right-align">
                    <div class="input-field col s12">
                        <input type="text" name="fecha" value="@DateTime.Now.ToShortDateString()" class="datepicker" />
                    </div>
                    <input type="submit" value="Generar recurrencias" class="btn-small" />
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("EjecutarLigada", "Recurrencias", FormMethod.Post, null))
{
    <div class="row">
        <div class="col s6">
            <div class="card-panel">
                <div class="row right-align">
                    <div class="input-field col s12">
                        <input type="text" name="fecha" value="@DateTime.Now.ToShortDateString()" class="datepicker" />
                    </div>
                    <input type="submit" value="Contabiliza recurrencias" class="btn-small" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    var elems = document.querySelectorAll('.datepicker');
    var options = {
        format: 'dd/mm/yyyy'
    }
    var instances = M.Datepicker.init(elems, options);
</script>
