@model TAT001.Entities.DOCUMENTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <button id="lbl_cargar" name="excel" class="btn-small" type="submit" value="Excel">
           X
        </button>
    }
</body>
</html>
